<?xml version="1.0"?>
<launch>
  <arg name="map_file" default="$(find four_macnum_navigation)/maps/map.yaml"/>
  <arg name="sim_map_file" default="$(find four_macnum_navigation)/maps/sim_map.yaml"/>
  <arg name="move_forward_only" default="false"/>
  <arg name='simulation' default="false"/>

  <!-- Map server -->
  <node if="$(arg simulation)" pkg="map_server" name="map_server" type="map_server" args="$(arg sim_map_file)"/>
  <node unless="$(arg simulation)" pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find four_macnum_navigation)/launch/amcl.launch"/>
  <!-- move_base -->
  <include file="$(find four_macnum_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</launch>
